<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php"
         colors="true"
         verbose="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="angel">
            <directory>angel</directory>
        </testsuite>
        <testsuite name="cosmin">
            <directory>cosmin</directory>
        </testsuite>
    </testsuites>
</phpunit>
