<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="angel/bootstrap.php"
         colors="true"
         verbose="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Test suite">
            <directory>angel</directory>
        </testsuite>
    </testsuites>
</phpunit>